body {
	margin:0;
	background: #ddd;
}

.contenedor {
	display: flex;
	justifly-content: center;
}

.cuadrado {
	width: 150px;
	height: 150px;
	border: 5px solid #555;
	background: black;
	color-size: 40px;
}

.triangulo {
	width: 0;
	height: 0;
	border-top: 50px solid #555;
	border-left: 50px solid #555;
	border-bottom: 50px solid #555;
	background: crimson;
	color-size: 40px;
}

.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 60%;
	-webkit-border-radius: 60%;
	border-radius: 50%;
	background: #5cb85c;
	color-size: 40px;
}

.oval-half-red {
	width: 150px;
	height: 50px;
	-moz-border-radius: 0 60% / 0 100%;
	-webkit-border-radius: 0 60% / 0 100%;
	border-radius: 0 50% / 0 100%;
	background: blue;
	border: 3px solid #555;
}

.cuadrado:nth-chils(1) {

}

.cuadrado:nth-chils(1):hover {
	transform: translate(50 px, 50 px);
}

.triangulo:nth-chils(1):hover {
	transform: scaleX(2, 2);
}

.circulo:nth-chils(1):hover {
	transform: translate(50 px, 50 px);
}

.oval-half-red:nth-chils(1):hover {
	transform: skewX(20deg);
}
	


