body {
	margin:0;
	background: #ddd;
}

.contenedor {
	display: flex;
	justifly-content: center;
}

.caja {
	margin: 150px 15px;
	width: 150px;
	height: 150px;
	background: crimson;
	color: $fff;
	font-size: 40px;
	text-aglin: center;
	line-height: 150px;
	transition: all 2s;
dis
}

.hoja {
	margin: 150px 15px;
	width: 250;
	height: 100;
	-moz-border-radius: 0 50% / 0 100%;
	-webkit-border-radius: 0 50% / 0 100%;
	border-radius: 0 50% / 0 100%;
	background: black;
	border: 3px solid #555;
dis
}

.circulo {
	margin: 150px 15px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: yellow;
dis
}

.oval{
	margin: 150px 15px;
	width: 250px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #5cb85c;
dis
}

.caja:nth-chils(1){
	transform: translate(50 px, 50 px);
}

.hoja:nth-chils(1){
	transform: translate(50 px, 50 px);
}

.circulo:nth-chils(1){
	transform: translate(50 px, 50 px);
}

.oval:nth-chils(1){
	transform: translate(50 px, 50 px);
}

.caja:nth-chils(1):hover {
	transform: rotate(2.5turn);
}

.hoja:nth-chils(2):hover {
	transform: scaleX(2, 2);
}

.circulo:nth-chils(3):hover {
	transform: translate(50 px, 50 px);
}

.oval:nth-chils(4):hover {
	transform: skewX(20deg);
}
	


